* {
  margin: 0;
  padding: 0;
}

/* base classes */
.w-fit {
  width: fit-content !important;
}

.h-fit {
  height: fit-content !important;
}
.bg-black {
  background-color: #000;
}

.h-screen {
  height: 100dvh;
}
.w-screen {
  width: 100dvw;
}

/* -- fonts NEXA */
@font-face {
  font-family: "Nexa Regular";
  src: url(/assets/fonts/Nexa-ExtraLight.ttf);
}
@font-face {
  font-family: "Nexa bold";
  src: url(/assets/fonts/Nexa-Heavy.ttf);
}
.nexa-regular {
  font-family: "Nexa Regular";
  font-weight: 400;
  font-size: normal;
}

.nexa-bold {
  font-family: "Nexa bold";
  font-weight: 600;
  font-size: normal;
}

@media (min-width: 1024px) {
  /* nabar styling is here */
  .nav_bar {
    width: 100% !important;
    position: absolute !important;
    padding: 1.938rem 0 !important;
    left: 50%;
    top: 6%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  .logo {
    width: 182px;
    height: 39px;
  }

  /* hero styling is here */
  .heroStyles {
    padding: 7rem 0 2rem;
  }

  .heroStyles_text {
    width: 62.865vw;
    margin: auto;
  }

  .heroStyles_text .greenText p {
    font: normal normal normal 1.198vw/2.031vw "Nexa Regular";
    letter-spacing: 0px;
    color: #6bba44;
    opacity: 1;
  }

  .greenText img {
    /* opacity: 0.18; */
    width: 7.708vw;
    height: 7.135vw;
    position: relative;
    z-index: 10;
  }

  .heroStyles_text .unlockText {
    text-align: left;
    font: normal normal bold 4.167vw/5.313vw "Nexa Regular";
    letter-spacing: 0px;
    color: #e4e4e4;
    margin-bottom: 0 !important;
  }

  .mobile {
    width: 14.115vw;
    height: 6.25vw;
    position: relative;
    z-index: 10;
  }

  .heroStyles_text h1 {
    font: normal normal normal 18.49vw/1 Impact;
    letter-spacing: 0px;
    color: #e44024;
    text-shadow: 10px 10px 0px #8f1b0757;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    margin: 0;
  }

  .heroStyles_text .subP {
    text-align: center;
    margin: auto;
    font: normal normal 300 0.938vw/1.563vw "Nexa Regular";
    letter-spacing: 0px;
    color: #e4e4e4;
    opacity: 1;
    margin-top: 1.6vw;
  }

  .rocket_img {
    width: 29.583vw;
    height: 16.875vw;
    position: absolute;
    right: 5%;
    top: -12px;
    z-index: 1;
  }

  .btn_div .btn1 {
    text-align: center;
    font: normal normal normal 1.354vw/1.51vw "Nexa Regular";
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: transparent;
    border: 2px solid #3480c2;
  }

  .btn1 img {
    width: 1.563vw;
    height: 0.938vw;
  }

  .btn_div .btn2 {
    text-align: center;
    font: normal normal 600 1.354vw/1.51vw "Nexa Regular";
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #3480c2 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 1px solid #3480c2;
    margin: 0 0.4rem 0;
    padding: 1.09rem 3rem;
  }

  .social_div {
    position: absolute;
    left: 3.542vw;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .social_div > p {
    writing-mode: vertical-lr;
    letter-spacing: 8px;
    word-spacing: 6px;
    font-size: 1.4vw;
    rotate: 180deg;
    color: #404141;
    font: normal normal 300 1.042vw/1.927vw "Nexa Regular";
    letter-spacing: 8.84px;
    text-transform: uppercase;
    margin-left: 4.5px;
  }

  .social_div div a {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0.4rem auto;
  }

  .social_div div a img {
    cursor: pointer;
    width: 16px !important;
    height: 16px !important;
  }

  .social_div div a:hover {
    background: #000;
  }

  .hr_line {
    height: 73px;
    width: 2px;
  }

  /* ----- Red & Blue Card ------- */
  .redNblue_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.188vw;
    justify-content: space-between;
    margin-top: 9.792vw;
    margin-bottom: 9.063vw;
  }

  .red_card_wrapper {
    padding: 3.453vw 2.5vw;
    background: #e44024;
    width: 40.573vw;
    height: fit-content;
  }
  .red_card_wrapper div h3 {
    text-align: left;
    font: normal normal normal 3.125vw/3.854vw Impact;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin: 0.5vw 0 0 0;
  }
  .red_card_wrapper div img {
    width: 13.385vw;
    height: 5.938vw;
  }

  .red_card_wrapper > p {
    text-align: left;
    font: normal normal 300 1.042vw/1.927vw "Nexa Regular";
    letter-spacing: 0px;
    color: #f2f2f2;
    opacity: 1;
    margin-top: 0.8vw;
  }
  .red_card_wrapper > button {
    border: 2px solid #ffffff;
    opacity: 1;
    background: transparent;
    text-align: center;
    font: normal normal normal 1.354vw/1.354vw "Nexa Regular";
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-top: 4.271vw;
  }

  .red_card_wrapper button img {
    width: 2.917vw;
    height: 0.938vw;
  }

  /* blue card */
  .blue_card_wrapper {
    background: linear-gradient(180deg, #975aff 0%, #155bc8 100%);
    margin-top: 5.542vw;
    width: 41.823vw;
    height: 50.135vw;
  }

  .arrow_wrapper {
    position: relative;
    z-index: 50;
  }

  .arrow_wrapper img {
    width: 2.917vw;
    height: 0.938vw;
  }

  .changing_slide_number {
    text-align: left;
    font: normal normal normal 3.125vw/3.854vw Impact;
    letter-spacing: 0px;
    color: #e44024;
    opacity: 1;
  }

  .total_slide_number {
    text-align: left;
    font: normal normal normal 2.188vw/2.5vw Impact;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  .btn_download {
    border: 2px solid #ffffff;
    background: transparent;
    /* text */
    text-align: center;
    font: normal normal normal 1.354vw/1.51vw "Nexa Regular";
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .btn_download img {
    width: 0.885vw;
    height: 0.99vw;
  }

  .download_iconsNnmber img {
    width: 0.729vw;
    height: 0.833vw;
  }

  .download_iconsNnmber p {
    text-align: left;
    font: normal normal normal 1.146vw/2.813vw "Nexa Regular";

    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  .TextnSliderimg {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  .slider_text {
    text-align: left;
    font: normal normal normal 3.125vw/3.854vw Impact;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    white-space: nowrap;
  }

  .slider_imgs {
    width: 20.677vw;
    height: 43.906vw;
  }

  /* sliding Image */
  .image-container {
    position: relative;
  }
  /* slide dev */
  #displayedImg {
    transition: transform 0.3s ease-out; /* Adjust the duration and easing as needed */
}

.slide-out {
    transform: translateX(100%);
}
}
